div.Character
{
  padding: 2px 0;
  opacity: 0;
  animation: ani 3.5s forwards;

}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 1200px) {
  .Container{
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .Container{
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .Container{
    max-width: none;
  }
}

.ImgCharacter {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}