.InfoCharacter
{
    position: fixed;
    top: 50%; left: 50%;
    min-width: 300px;
    margin-left: -20%;
    margin-top: -20%;
    background-color: darkgray;
    width: 40%;
    height: 40%;

    border: 6px solid black;
    border-radius: 25px;

    opacity: 0;
    animation: ani 1.5s forwards;

}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.TextInfo
{
    width: 40%;
    height: 80%;
    top: 10%;
    position: relative;
    display: grid;
    gap: 10px;
    /*grid-template-columns: repeat(2, 150px);*/
    grid-template-rows: repeat(3, 50px);

    float: right;
}

.ImagInfo
{
    float: left;
    width: 45%;
    height: 100%;

    border-radius: 25px;

}

.Close
{
    position: relative;
    cursor: pointer;
    float: right;
    margin: 2%;
}